#container {
    background-color: azure;
    width: 100%;
    height: 100%;
}
#letters {
    background-color: bisque;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
}
#letter {
    width: 15%;
    height: 30px;
    font-size: 15px;
    
}
button {
    background-color: antiquewhite;
    width: 10%;
    height: 30px;
    font-size: 13px;
    margin-right: 20px;
}
#message {
    width: 80%;
    height: 80px;
    background-color: cadetblue;
    margin-top: 30px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    
}
#output {
    font-size: 30px;
    background-color: darkgray;
    height: 50px;
    width: 80%;
    color: aliceblue;;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
}
#insertNewWord {
    width: 20%;
    height: 30px;
    text-align: left;
    margin-right: 15px;
    font-size: 15px;
}
#choose-word {
    width: 20%;
    height: 30px;
    text-align: left;
    margin-right: 15px;
    font-size: 15px;
}
